.jobsite {
    position: fixed;
    min-height: 80vh;
    top: 0;
    margin-inline: 30vh;
    right: 0;
    left: 0;
    z-index: 999;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 6px 8px 13px #8926EB12;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.jobsite .jobsite_title {
    background: #8926EB 0% 0% no-repeat padding-box;
    box-shadow: 6px 8px 13px #4791FF24;
    opacity: 1;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;

}

.jobsite .name {
    display: flex;
    flex-direction: column;
}

form {
    margin-inline: 5rem;
}

.jobsite .name input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #7B7B7B;
    border-radius: 2px;
    opacity: 1;
    outline: none;
    padding-inline: 1rem;
    padding-block: .5rem;
}

.jobsite .name span {
    font-weight: 700;
}

.jobsite .name input::placeholder {
    text-align: left;
    font: normal normal normal 13px/15px Helvetica;
    letter-spacing: 0.2px;
    color: #BFC3C9;
    opacity: 1;
    font-size: 0.8rem;
}

.categories {
    display: flex;
    justify-content: space-between;

}

.dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.name .dropdown span {
    font-weight: unset;
    text-transform: capitalize;
}

.categories_absolute {
    position: absolute;
    /* left: 0; */
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 999;
    padding: 1rem;
    /* margin-top: 1rem; */
    /* padding: 1rem; */
}

.categories_absolute span {
    cursor: pointer;
    text-transform: capitalize;

}

.buttons {
    display: flex;
    justify-content: end;
    align-items: end;
    bottom: 0;
    position: absolute;
    right: 0;
    padding: 1rem;
    gap: 10px;
}

.buttons .save {
    background: #4791FF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 2px #00000012;
    border: 1px solid #4791FF;
    
}

.buttons button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    border: 1px solid #ABABAB;
    cursor: pointer;
}

ul li{
    cursor: pointer;
}

.categories_selected{
    display: flex;
    gap: 10px;
}
.categories_selected span{
    color: red;
}